body {
  max-width: 1530px;
  margin: auto;
  padding: 0;
  background-color: rgba(248, 245, 242, 1);
  min-width: 320px;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Open Sans, Arial, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body._lock {
  overflow: hidden;
}