
.motivation__container {
  max-width: 1530px;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.motivation__subtitle {
  font-family: Cormorant;
  font-size: 24px;
  font-weight: 400;
  line-height: 32.68px;
  letter-spacing: 0.11em;
  text-align: center;
  text-transform: uppercase;
  color: rgba(143, 110, 81, 1);
  padding-top: 70px;
  margin: 0;
}

.motivation__text {
  font-family: Cormorant;
  font-size: 40px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: -0.005em;
  text-align: center;
  color: rgba(197, 152, 136, 1);
  padding: 0px 80px 0px 80px;
  margin-bottom: 70px;
  margin-top: 30px;
}

.motivation__text_info {
  font-family: Cormorant;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: -0.005em;
  text-align: center;
  color: rgba(0, 0, 0, 0.58);
  padding: 0px 230px 70px 230px;
  margin-bottom: 70px;
  margin-top: 30px;
  text-align: justify;
  margin-bottom: 0;
  text-indent:10px;
}

.motivation__author {
  font-family:"Source Sans 3";
  font-size: 24px;
  font-weight: 400;
  line-height: 32.68px;
  letter-spacing: 0.11em;
  text-align: center;
  color: rgba(143, 110, 81, 1);
  text-transform: uppercase;
}

.tab {
  max-width: 1530px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.tab-nav {
  font-family: Cormorant;
  display: flex;
  gap: 200px;
  font-size: 25px;
  font-weight: 400;
  line-height: 32.68px;
  letter-spacing: 0.11em;
  padding: 0;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(143, 110, 81, 1);
  margin: 0;
}

.rules__card {
  text-decoration: none;
  color: rgba(143, 110, 81, 1) !important;
  text-transform: uppercase;
}
.rules__card:hover {
  background-color: rgba(235, 227, 218, 1);
  opacity: 0.7;
  cursor: pointer;
}
.rules_border {
  border-radius: 19px;
  padding: 5px 25px 5px 25px;
}
.tab-btn {
  border: none;
  font: inherit;
  color: inherit;
  background-color: rgba(248, 245, 242, 1);
}


.tab-btn-active {
  pointer-events: none;
  background-color: rgba(235, 227, 218, 1);
  opacity: 0.7;
  cursor: pointer;
  color: white;
}

.tab-pane:not(.tab-pane-show) {
  display: none;
}

@media (max-width: 1274px) {
  .motivation__subtitle {
    font-size: 20px;
  }
  .motivation__text {
    font-size: 35px;
    line-height: 50px;
  }
  .motivation__author {
    font-size: 20px;
  }
  .motivation__text_info {
    font-size: 28px;
    padding: 0px 160px 50px 160px;
  }
  .tab-nav {
    gap: 150px;
  }
}

@media (max-width: 1274px) {
.motivation__text_info {
  font-size: 24px;
  padding: 0px 170px 0px 170px;
}
.tab-nav {
  font-size: 18px;
  gap: 130px;
}
.motivation__container {
 padding-top: 20px;
}
}

@media (max-width: 1100px) {
  .motivation__text_info {
    font-size: 24px;
    padding: 0px 170px 0px 170px;
    margin-bottom: 70px;
    margin-top: 10px;
  }
  .tab-nav {
    font-size: 16px;
    gap: 100px;
  }
  .motivation__container {
    padding-top: 20px;
   }
  }

@media (max-width: 800px) {
  .motivation__subtitle {
    font-size: 18px;
  }
  .motivation__text {
    font-size: 30px;
    line-height: 40px;
    padding: 0px 20px 0px 20px;
  }
  .motivation__author {
    font-size: 18px;
  }
  .motivation__text_info {
    font-size: 20px;
    padding: 0px 80px 50px 80px;
    margin-bottom: 70px;
    margin-top: 30px;
  }
  .tab-nav {
    font-size: 16px;
    gap: 70px;
    padding-bottom: 10px;
  }
  .motivation__container {
    padding-top: 0px;
   }
}

@media (max-width: 670px) {
  .tab {
    padding-top: 20px;
  }
  .tab-nav {
    flex-direction: column;
    gap: 10px;
    font-size: 13px;
  }

  .motivation__text_info {
    font-size: 20px;
    padding: 0px 30px 0px 30px;
    margin: 0px;
  }
  .motivation__container {
    padding-top: 0px;
   }
}

@media (max-width: 500px) {
  .motivation__subtitle {
    font-size: 14px;
    padding-top: 40px;

  }
  .motivation__text {
    font-size: 25px;
    line-height: 30px;
    padding: 0px 20px 0px 20px;
    margin-bottom: 40px;
  }
  .motivation__author {
    font-size: 14px;
  }
  .motivation__text_info {
    font-size: 20px;
  }
  .motivation__container {
    padding-top: 0px;
   }
}
